* {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* source: IBM Carbon design system */
button {
  color: #fff;
  border: 1px solid #000000;
  background-color: #0f62fe;
  align-items: center;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: .875rem;
  font-weight: 400;
  justify-content: space-between;
  letter-spacing: .16px;
  line-height: 1.28572;
  margin: 0;
  max-width: 20rem;
  min-height: 3rem;
  outline: none;
  padding: calc(.875rem - 3px) 63px calc(.875rem - 3px) 15px;
  position: relative;
  text-align: left;
  text-decoration: none;
  vertical-align: top;
  width: max-content;
}
