  .timer {
    min-width: 7rem;
  }

  .seconds {
    font-weight: 600;
    font-size: 3rem;
  }

  .seconds-wrapper {
    border: 1px solid #0000007b;
    cursor: pointer;
    text-align: center;
    padding: .625rem;
    width: 100%;
    margin-bottom: 0;
    border-radius: 4px;
    background-color: #f4f4f4;

  }

  .seconds-wrapper:hover {
    background: #ffffd8;

  }

  .divider {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 5px;
    width: 80%;
  }

  .label {
    margin: 0;
    font-family: inherit;
    font-size: .875rem;
    font-weight: 400;
  }

  .hide {
    visibility: hidden;
  }
